# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Labo03.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\Labo03\.idea\.idea.Labo03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
