# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Laboratorio3POO.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\Laboratorio3POO\.idea\.idea.Laboratorio3POO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
